@charset "utf-8";
html {
        font-size: 20px;
        quotes: "“" "”";
        font-family: Helvetica, Microsoft yahei, Arial;
        -webkit-text-size-adjust: none;
}

html,
button,
input,
select,
textarea {
        font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif
}

body {
        position: absolute;
        background-color: #0A0A0A;
        height: 100%;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch
}

body,
html {
        height: 100%;
        padding: 0;
        margin: 0
}


/* 容器 */

.wrapper,
#fullpage {
        text-align: center;
        width: 100%;
        height: 100%;
        background-color: #0A0A0A;
        position: absolute;
        top: 0;
}


/* 首页原型样式 */

.circle {
        /* position:relative ; */
        /* float: left; */
        margin: auto;
        z-index: 0;
        border-radius: 100px;
        width: 200px;
        height: 200px;
        background-color: #B63253;
        opacity: .6;
        animation: circle-change 2s ease-in-out 1s infinite;
        /* Firefox 4 */
        -moz-animation: circle-change 2s ease-in-out 1s infinite;
        /* Safari and Chrome */
        -webkit-animation: circle-change 2s ease-in-out 1s infinite;
        /* Opera */
        -o-animation: circle-change 2s ease-in-out 1s infinite;
}


/* 圆形放大效果 */

@-webkit-keyframes circle-change {
        0% {
                transform: scale(0)
        }
        50% {
                transform: scale(1)
        }
        100% {
                transform: scale(0)
        }
}


/* 箭头定位 */

.first-arrow {
        top: 100px;
}


/* 下拉箭头效果 */

.icon-double-angle-down {
        position: relative;
        color: #FFFFFF;
        font-size: 40px;
        opacity: .6;
        animation: arrow-change 1.5s ease-in-out 1s infinite;
        /* Firefox 4 */
        -moz-animation: arrow-change 1.5s ease-in-out 1s infinite;
        /* Safari and Chrome */
        -webkit-animation: arrow-change 1.5s ease-in-out 1s infinite;
        /* Opera */
        -o-animation: arrow-change 1.5s ease-in-out 1s infinite;
}


/* 箭头闪动 */

@-webkit-keyframes arrow-change {
        0% {
                opacity: .2;
        }
        50% {
                opacity: .5;
        }
        100% {
                opacity: .2;
        }
}

.age {
        z-index: 2;
        position: relative;
        top: 100px;
        color: #FFF24A;
        font-size: 30px !important;
}

.name {
        position: relative;
        top: -100px;
        z-index: 2;
}

.big-tittle {
        font-size: 35px;
}

.b1-tittle {
        color: #FFF24A;
}

.b2-tittle {
        margin-top: 10px;
        color: #15D9AA !important;
        font-size: 16px;
}


/* .tittle {
        margin-top: 100px;
        margin-bottom: 20px;
        color: #FFF24A;
} */

.icon80 {
        width: 20px;
        height: 20px;
}

.icon {
        font-style: bold;
}

#container1,
#container2,
#container3,
#container4,
#container5,
#container6 {
        width: 25%;
        height: 350px;
        /* height: 600px; */
        margin: 0 auto;
        min-width: 340px;
        max-width: 340px;
        /* float: left; */
}

.no1 {
        width: 25px;
        position: relative;
        left: 15px;
        top: -30px;
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -moz-transform: rotate(-30deg);
        /* Firefox */
        -webkit-transform: rotate(-30deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(-30deg);
}

.star-icon {
        width: 30px;
        height: 30px;
        border-radius: 15px;
}

.star {
        z-index: 100;
        /* float: left; */
        position: relative;
        margin-left: 30%;
        top: 45px;
        left: -120px;
        opacity: 1;
}


/* 出现icon动画 */

.star-up {
        animation: star-up 1.5s ease-in-out 0s;
        /* Firefox 4 */
        -moz-animation: star-up 1.5s ease-in-out 0s;
        /* Safari and Chrome */
        -webkit-animation: star-up 1.5s ease-in-out 0s;
        /* Opera */
        -o-animation: star-up 1.5s ease-in-out 0s;
}

.chart-text {
        position: relative;
}


/* 描述文字出现动画 */

.text-active {
        animation: text-active .5s ease-in-out 0s;
        /* Firefox 4 */
        -moz-animation: text-active .5s ease-in-out 0s;
        /* Safari and Chrome */
        -webkit-animation: text-active .5s ease-in-out 0s;
        /* Opera */
        -o-animation: text-active .5s ease-in-out 0s;
}


/* 90 */

.tittle80 {
        /* margin-top: 100px; */
        margin-bottom: 20px;
        color: #FF8000;
}

.text-80 {
        color: #FF8000;
        font-size: 16px;
}


/* 90男 */

.tittle90 {
        /* margin-top: 100px; */
        margin-bottom: 20px;
        color: #B63253;
}

.text-90 {
        color: #B63253;
        font-size: 16px;
}


/* 00 */

.tittle00 {
        /* margin-top: 100px; */
        margin-bottom: 20px;
        color: #15D9AA;
}

.text-00 {
        color: #15D9AA;
        font-size: 16px;
}


/*播放音乐*/

.musicWrap {
        position: fixed;
        top: 5px;
        left: 70%;
        z-index: 98;
}

.musicWrap audio {
        visibility: hidden
}

.audio-img {
        width: 25px;
        z-index: 100;
        /* visibility: hidden; */
}

.audio-stop {
        position: relative;
        width: 25px;
        left: -30px;
        visibility: hidden;
}

.musicWrap .stop-show {
        visibility: visible;
}

audio:not([controls]) {
        display: none;
        height: 0
}


/* 音乐转动 */

.musicWrap .stop {
        visibility: hidden;
}

.musicWrap .rotate {
        -webkit-animation: musicRotate 2s linear infinite;
        -moz-animation: musicRotate 2s linear infinite;
        animation: musicRotate 2s linear infinite;
}


/* 停止音乐动画 */

.musicWrap .paused {
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused
}


/* 旋转动画 */

@-webkit-keyframes musicRotate {
        0% {
                -webkit-transform: rotate(0);
                transform: rotate(0)
        }
        100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
        }
}


/* 图标页的动画 */

@-webkit-keyframes star-up {
        0% {
                /* top: 45px; */
                opacity: .5;
        }
        25% {
                /* top: 0px; */
                opacity: 0;
        }
        50% {
                /* top: 45px; */
                opacity: .5;
        }
        75% {
                /* top: 0px; */
                opacity: 0;
        }
        100% {
                /* top: 45px; */
                opacity: 1;
        }
}


/* 描述文字动画 */

@-webkit-keyframes text-active {
        0% {
                /* top: 45px; */
                opacity: 0;
        }
        25% {
                /* top: 0px; */
                opacity: .5;
        }
        50% {
                /* top: 45px; */
                opacity: 1;
        }
        75% {
                /* top: 0px; */
                opacity: 0;
        }
        100% {
                /* top: 45px; */
                opacity: 1;
        }
}
